syntax:glob
*.pyc
*.ncb
*.suo
*.user
*.o
*.swp
.DS_Store
*.a
*.obj
*.dist
a.out*
Makefile
Makefile.in
/configure
aclocal.m4
/src/indexer
/src/indextool
/src/search
/src/searchd
/src/tests
/src/spelldump

*.orig
.deps/
config/
junk/
bin/
autom4te.cache/
/src/sphinxversion.h

config.log
config.status
binlog.*
lextab.py
parser.out
yacctab.py
glob:data/

#mmseg block
idx/
