# /
/Makefile
/config.status
/config.log
/aclocal.m4
/sphinx-min.conf.dist
/sphinx.conf.dist
/bin
/junk
/*.suo
/*.ncb
/*.sdf
/.hg
/autom4te.cache
/bld
/configure

# /api/libsphinxclient/
/api/libsphinxclient/*.ncb
/api/libsphinxclient/*.suo
/api/libsphinxclient/*.user
/api/libsphinxclient/debug
/api/libsphinxclient/release

# /codeblocks/
/codeblocks/junk
/codeblocks/bin
/codeblocks/*.depend
/codeblocks/*.layout

# /config/
/config/stamp-h1
/config/config.h
/config/config.h.in

# /libstemmer_c/
/libstemmer_c/Makefile
/libstemmer_c/.deps
/libstemmer_c/libstemmer/
/libstemmer_c/runtime/
/libstemmer_c/src_c/

# /src/
/src/indexer
/src/indextool
/src/search
/src/searchd
/src/spelldump
/src/tests
/src/wordbreaker
/src/wordbreaker
/src/libsphinx.a
/src/Makefile
/src/.deps
/src/sphinxversion.h
/src/*.o
/src/libsphinx.a

# /win/
/win/*.user
/win/*.filters

# /doc
/doc/Makefile

# /test
/test/test_*/report.txt
/test/test_*/Conf
/test/data

# /test/ql/
/test/ql/data/*.log
/test/ql/data/*.lock
/test/ql/*.class
/test/ql/*.exe

# file types
*.o
*.pyc
*.user
